attrs==21.4.0
behave==1.2.6
certifi==2021.10.8
charset-normalizer==2.0.7
docker==5.0.3
idna==3.3
iniconfig==1.1.1
loguru==0.5.3
packaging==21.3
parse==1.19.0
parse-type==0.6.0
pluggy==1.0.0
prometheus-client==0.13.1
py==1.11.0
pyparsing==3.0.7
pytest==7.0.1
PyYAML==6.0
requests==2.27.1
six==1.16.0
toml==0.10.2
urllib3==1.26.8
websocket-client==1.2.3
