attrs==21.2.0
behave==1.2.6
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
docker==5.0.0
Flask==2.0.1
gunicorn==20.1.0
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
loguru==0.5.3
MarkupSafe==2.0.1
packaging==20.9
parse==1.19.0
parse-type==0.5.2
pluggy==0.13.1
prometheus-client==0.11.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
toml==0.10.2
urllib3==1.26.5
websocket-client==1.1.0
Werkzeug==2.0.1
